<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skull Workshop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='images/white_skull.png') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/logo_skull_workshop.png') }}" alt="Skull logo">
            </a>

            <div class="nav-links">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('about_us')}}">About Us</a>
                <a href="{{ url_for('cart') }}">Shopping Cart</a>
            </div>
        </div>

        <div class="main-info_text">
            <h1>About us</h1>
            <p>This is Skull Workshop. Our mission is to make supplements that fit the youth and help people achieve their workout goals. </p>
        </div>




        <div class="footer">
            <footer class="footer">
                <div class="footer-content">
                    <div class="footer-left">
                    </div>
                    <div class="footer-right">
                        <p>&copy; 2024 Skull Workshop. All Rights Reserved.</p>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms of Service</a>
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </footer>
        </div>
        